<h1><%= title %></h1>
<%- messages() %>
<form action="" id="myAccount">
    <label for="email">Email: </label>
    <input type="email" value="email" name="email" id="email">
    
    <label for="password">Password: </label>
    <input type="text" value="password" name="password" id="password">
    
    <input type="submit" value="LOGIN" name="login"> 
</form>
<p class="sign-up">No account?</p><a href="#" class="sign-up">Sign-up</a>