<h1><%= title %></h1>
<%- messages() %>
<form action="" id="myAccount">
    <fieldset>
        <label for="email">Email: </label>
        <input type="email" value="email" name="account_email">
    </fieldset>
    <fieldset>
        <label for="password">Password: </label>
        <input type="text" value="password" name="account_password">
    </fieldset>

    <input type="submit" value="LOGIN" name="login"> 
    <span class="sign-up">No account? <a href="register" class="sign-up">Sign-up</a></span>
</form>
