<h1><%= title %></h1>
<%- messages() %>
<form action="account/register" method="post" id="registerForm">
    <fieldset>
        <label for="fname">First name: </label>
        <input type="text" value="fname" name="account_firstname">
    </fieldset>
    <fieldset>
        <label for="lname">Last name:</label>
        <input type="text" value="lname" name="account_lastname">
    </fieldset>
    <fieldset>
        <label for="email">Email: </label>
        <input type="email" value="email" name="account_email">
    </fieldset>
    <fieldset>
        <label for="password">Password: </label>
        <input type="text" value="password" name="account_password">
        <span>The password must be minimum 12 characters in length, contain at least 1 capital letter, contain at least 1 number, contain at least 1 special character</span>
    </fieldset>

    <input type="submit" value="Register" name="Register"> 

</form>