<h1><%= title %></h1>
<%- messages() %>
<form action="account/register" method="post" id="register">
    <fieldset>
        <label for="fname">First name: </label>
        <input type="text" value="fname" name="fname">
    </fieldset>
    <fieldset>
        <label for="lname">Last name:</label>
        <input type="text" value="lname" name="lname">
    </fieldset>
    <fieldset>
        <label for="email">Email: </label>
        <input type="email" value="email" name="email">
    </fieldset>
    <fieldset>
        <label for="password">Password: </label>
        <input type="text" value="password" name="password">
        <span id="pswdBtn">Show Password</span>
    </fieldset>

    <input type="submit" value="Register" name="Register"> 

</form>