/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*********** General Styling ***************/
:root {
  --text-color-light: #fff;
  --text-color-dark: #242332;
  --primary-color: #01B0D3;
  --secondary-color: #4C4C4C;
  --accent1-color: #C2C2C2;
  --required-color: #a70000;
  --heading-elegant-font: "Merriweather", serif;
  --heading-font: "Roboto", sans-serif;
  --paragraph-font: system-ui; 
  --nav-link-color: #fff;
  --nav-background-color: #242332;
  --nav-hover-link-color: #01B0D3;
  --nav-hover-background-color: #83e7fb;
  --p-highlight-bg: #f0eaf1ce;
  --form-bg-color: #003a60;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  text-align: center;
  color: var(--text-color-dark);
  background-color: var(--nav-link-color);
}

p {
  font-size: 18px;
  padding: 0px;
}

h1, h2, h3 {
  font-family: var(--heading-elegant-font);
}

/* ------------- Header ------------------- */
#top-header {
  margin: 10px;
  padding: 0px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  text-align: center
}

.siteName {
  float: left;
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-size: 2rem;
  font-family: var(--heading-font);
  font-weight: 600;
}

.siteName a,
#tools a {
  text-decoration: none;
  color: var(--text-color-dark);
}

#tools{
  cursor: pointer;
  font-weight: 500;
  font-family: var(--heading-font);
  padding: 5px;
}

#tools:hover,
.update a:hover {
  text-decoration: overline 2px solid;
  text-decoration-color: var(--primary-color);
}

#tools ul li{
  list-style: none;
}

.managementBtn:hover,
.logoutBtn:hover {
  background-color: var(--nav-hover-background-color);
}

.welcome {
  font-family: var(--heading-font);
  font-weight: 600;
  padding: 5px;
}

.update a {
  font-family: var(--paragraph-font);
  color: var(--text-color-dark);
  text-decoration: underline .5px solid;
}

/* ------------- Navigation ------------------- */
nav {
  display: grid;
  grid-template-rows: 1fr;
}

nav > ul {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  padding: 15px;
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
  font-family: var(--heading-font);
}

nav> ul > li {
  display: inline;
  padding: 1rem;
  justify-content: space-between;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--text-color-light);
}

nav a:hover {
  text-decoration: overline solid 3px;
  text-decoration-color: var(--primary-color);
}

/*-------------- Hero Content ----------------------*/
.notice {
  text-align: left;
  font-family: var(--paragraph-font);
  font-style: italic;
  color: #ff0d00;
}

.hero-container {
  position: relative;
  width: 100%;
}

.hero-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-container h1 {
  color: var(--text-color-dark);
  text-align: left;
  padding-left: 20px;
}

main .hero-container .hero-text{
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 20px;
  text-align: left;
  color: var(--primary-color);
  background-color: #ffffffa1;
  width: max-content;
}

.hero-text ul {
  font-family: var(--paragraph-font);
  font-size: 20px;
  list-style-type: none;
  text-align: left;
}

/* --------------- Error page -------------------------*/
.broken-code img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 5px;
  margin-top: 25px;
}

/* ------------- Grid / Main info  ------------------- */
.delorean-grid {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.delorean-grid h3{
  font-size: 25px;
}

.review-card ul{
  list-style-type: disc;
  text-align: left;
  font-size: 25px;
  margin: 20px;
  font-family: var(--paragraph-font);
}

.review-card li{
  padding-top: 10px;
  padding-bottom: 10px;
}

.images-grid {
  display: grid;
  grid-template-columns: 50px, auto, 50px;
  grid-template-rows: 50px, 50px, auto, 50px, 50px;
  padding: 25px;
  margin: 5px;
}

.flux,
.flame, 
.bumper,
.hub{
  background-color: var(--primary-color);
  border: 2px solid var(--text-color-dark);
  padding: 25px;
  margin: 5px;
}

.upgrade-card a {
  text-decoration: underline;
  color: blue;
  font-family: var(--paragraph-font);
}

.flux {
  grid-column: 1/2;
  grid-row: 1/2;
}

.flux a{
  grid-column: 1/2;
  grid-row: 2/3;
}
  
.flame {
  grid-column: 2/3;
  grid-row: 1/2;
}

.flame a{
  grid-column: 2/3;
  grid-row: 2/3;
}

.bumper {
  grid-column: 1/2;
  grid-row: 3/4;
}

.hub {
  grid-column: 2/3;
  grid-row: 3/4;
}

/* ------------- Classification  ------------------- */
#inv-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 250px;
  
  border-radius: 10px;
}

#inv-display li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--primary-color) solid 2px;
  border-radius: 10px;
  width: 280px;
  height: 280px;
  margin: 0.5rem;
  padding: 10px;
}

#inv-display li:hover {
  box-shadow: 0 3px 10px var(--secondary-color);
}

#inv-display hr {
  border: 1.5px solid var(--text-color-dark);
}

#inv-display img {
  width: 100%;
  max-height: 165px;
  height: auto;
  border-radius: 5px;
}

.namePrice {
  width: 90%;
}

.namePrice h2 {
  display: flex;
}

.namePrice a {
  width: 100%;
  text-decoration: none;
  font-family: var(--paragraph-font);
  font-size: 23px;
  color: var(--text-color-dark);
  text-align: center;
}

.namePrice a:hover {
  background-color: var(--nav-hover-background-color);
}

.namePrice span {
  padding: 0 0.25rem;
  color: var(--text-color-dark);
}

.namePrice span:hover {
  cursor: pointer;
}

/* -------------  Details view  ------------------- */
.detail {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 0 10px;
}

.detail img {
  padding: 10px;
  max-width: 500px;
}

.detail-info {
  font-family: var(--paragraph-font);
  text-align: left;
  padding: 15px;
  margin: 8px;
}

.detail-info h2{
  font-family: var(--heading-font);
}

.detail-highlight {
  background-color: var(--p-highlight-bg);
  padding: 5px;
  border-radius: 2px;
}

/* ------------- Form  ------------------- */
#myAccount, 
#inventoryDisplay,
.formStyle,
.management {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin: auto;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 7px;
  border: 2px solid var(--accent1-color);
  background-color: var(--form-bg-color);
  text-align: left;
}

fieldset {
  align-items: flex-start;
  margin-bottom: 15px;
  margin: .25rem 0;
  padding: .25rem 2%;
  border: none;
  width: 100%;
}

#myAccount label,
.formStyle label {
  color: var(--text-color-light);
  font-family: var(--heading-font);
  text-align: left;
  width: 100%;
}

#myAccount input[type=email],
#myAccount input[type=text],
#myAccount input[type=password],
.formStyle input[type=email],
.formStyle input[type=password],
.formStyle input[type=text],
.formStyle select,
.formStyle textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
  color: var(--text-color-dark);
  box-sizing: border-box;
}

#myAccount input[type=submit],
.formStyle input[type=submit],
.formStyle button[type=submit] {
  border-radius: 20px;
  padding: .75rem 2rem;
  font-size: 1rem;
  background-color: var(--nav-link-color);
  color: var(--form-bg-color);
}

#myAccount input[type=submit]:hover,
.formStyle input[type=submit]:hover,
.formStyle button[type=submit]:hover {
  background-color: var(--primary-color);
  font-weight: 700;
  color: var(--text-color-light);
}

input:required:valid {
  border-color: green 2px solid;
}
input:invalid {
  border-color: red;
}
input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}

.sign-up,
.management li,
.management a {
  color: var(--text-color-light);
  font-family: var(--paragraph-font);
  margin: 15px;
}

.sign-up a,
.management a {
  text-decoration: underline;
}

.sign-up a:hover,
.management a:hover{
  color: var(--primary-color);
}

.password,
.instructions {
  display: flex;
  flex-direction: column;
}

.password span,
.instructions span {
  font-size: 12px;
  color: var(--text-color-light);
  font-family: var(--paragraph-font);
}

.instructions p {
  color: var(--text-color-light);
  font-family: var(--paragraph-font);
}

.paragraph {
  font-family: var(--paragraph-font);
}

#inventoryDisplay {
  display: grid;
  grid-template-columns: 1rem, auto;
  gap: 1rem;
  padding: 10px;
}

#inventoryDisplay,
#inventoryDisplay a{
  color: var(--text-color-light);
  font-family: var(--paragraph-font);
  padding: 15px;
}

#inventoryDisplay a:hover{
  color: var(--primary-color);
}

#classificationList {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--form-bg-color) ;
  border-radius: 5px;
  color: var(--text-color-dark);
}

#classificationList:hover {
  border: 2px solid var(--primary-color);
}

/* ------------- Footer  ------------------- */
footer {
  font-family: var(--paragraph-font);
  text-align: left;
  padding-left: 25px;
  color: var(--secondary-color);
  margin-top: 20px;
}


/*-------------- LARGER VIEWS ----------------------*/
@media only screen and (min-width: 38rem) {
  header {
    border-bottom: none;
  }

  body {
    background-image: url("../images/site/small_check.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #wrapper {
    max-width: 1000px;
    height: fit-content;
    background-color: var(--text-color-light);
    border-radius: 15px;
    border: 4px solid var(--primary-color);
    transform: translate(0%, 5%);
    margin: 0 auto;
  }
  
  .siteName {
    font-size: 3rem;
  }

  .hero-text {
    border-radius: 5px;
    padding: 15px;
    color: var(--text-color-dark);
    background-size: 500px;
    transform: translate(-50%, -50%);
  }

  /* ------------- Grid / Main layout  ------------------- */
  main .delorean-grid {
    display: grid;
    grid-template-columns: 1fr, auto;
    font-family: var(--paragraph-font);
  }

  .review-card {
    grid-column: 2/3;
  }

  .upgrade-card {
    grid-column: 1/2;
  }
  
  #inv-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
  }

  .detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  }

  .details {
  padding: 2rem 2rem;
  }
  .details-page img {
    padding: 2rem 1rem;
  }

}