<h1><%= title %></h1>
<%- messages() %>

<form action="/inv/add-classification" method="post" class="formStyle">
    <fieldset>
        <div class="instructions">
            <label for="classification_name">Classification Name: </label>
            <input type="text" name="classification_name" id="classificationName" title="Classification Name" required value="<%= locals.classification_name %>">
            <span>The name cannot contain a space or special character of any kind.</span>
        </div>
    </fieldset>
    <input type="submit" value="Add Classification" name="Add Classification">

</form>