<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<div class="management">
    <ul>
        <li><a href="/inv/add-classification">Add new classification</a></li>
        <li><a href="/inv/add-inventory">Add new Vehicle</a></li>
    </ul>
</div>

<h2>Manage Inventory</h2>
<p class="paragraph">Choose a classification to see those inventory items.</p>
<%- classificationSelect %>


<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
