<h1><%= title %></h1>

<div class="broken-code">
    <%- message %>
    <picture >
        <source srcset="images/error-img-b.jpg" media="(min-width: 1000px)">
        <img src="images/error-img.jpg" alt="Broken code" width="500" height="250">
    </picture>
    
</div>
